a, button {
    font-size: 1.2rem;
    color: inherit;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
}
a:focus, button:focus {
    outline: .2rem solid var(--color-white);
    outline-offset: .2rem;
}

.text-link {
    font-size: 1rem;
    text-decoration: underline;
}

.default-button {
    padding: var(--border-width);
}

.button-text {
    padding: .4rem 1.6rem;
    white-space: nowrap;
}
.button-text.icon {
    padding-left: 0;
}
.button-text > i {
    padding: 0 .6rem;
}

.default-button .gradient {
    visibility: hidden;
}
.default-button:hover .gradient, .default-button:focus .gradient, .default-button.active .gradient {
    visibility: visible;
}

.default-button:focus:not(.active) {
    outline: none;
}

.default-button.active:not(:hover):not(:focus) {
    padding: 0;
    border: var(--border-width) solid transparent;
}
.default-button.active:focus {
    outline-offset: 0;
}

.default-button.active .button-text {
    background: #0008;
    color: var(--color-blue-2);
}

.alternate-button {
    padding: var(--border-width);
    text-decoration: none;
}
.alternate-button:hover, .alternate-button:focus {
    outline: none;
    filter: invert(1) grayscale(1);
}
.alternate-button.active {
    filter: none;
}
.alternate-button.active .button-text {
    background: var(--color-green);
}