a, button {
    font-size: 1.2rem;
    color: inherit;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
}

.text-link {
    font-size: 1rem;
    text-decoration: underline;
}

.default-button {
    padding: var(--border-width);
    outline-offset: 0;
    outline-width: var(--border-width);
}

.button-text {
    padding: .4rem 1.6rem;
    white-space: nowrap;
}
.button-text.icon {
    padding-left: 0;
}
.button-text > i {
    padding: 0 .6rem;
}

.default-button .gradient {
    visibility: hidden;
}
.default-button:hover .gradient, .default-button:focus .gradient, .default-button.active .gradient {
    visibility: visible;
}
.default-button.active {
    filter: grayscale(1);
}
.default-button:hover, .default-button:focus {
    filter: none;
}

.alternate-button {
    margin: var(--border-width);
    outline-offset: 0;
    outline-width: var(--border-width);
}
.alternate-button:hover {
    filter: invert(1) grayscale(1);
}
.alternate-button.active {
    filter: none;
}
.alternate-button.active .button-text {
    background: var(--color-green);
}

.icon-button {
    font-size: 1.7rem;
    position: relative;
}
.icon-button i {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s, visibility .5s;
}
.icon-button i:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}