.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.full-width, .full-width-children > * {
    width: 100%;
}
.max-width {
    max-width: 100%;
}

.center-content {
    justify-content: center;
    align-items: center;
}
.space-content {
    justify-content: space-around;
    align-items: center;
}
.row {
    flex-flow: row nowrap;
}
.row-wrap {
    flex-flow: row wrap;
}
.grow {
    flex-grow: 1;
}

.border-height {
    height: var(--border-width);
}
.border-width-margin {
    margin: var(--border-width);
}

.fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
}

.limit-width {
    width: 100%;
    max-width: 1000px;
}

.img-square + * {
    max-width: 250px;
}

.fullscreen-container {
    width: 100vw;
    height: 100vh;
}

.gradient-container {
    overflow: hidden;
    position: relative;
}
.gradient {
    position: absolute;
    top: 0;
    width: 200vw;
    height: 100%;
    background: var(--gradient);
    animation: gradient-animation 10s linear infinite;
}

@media (prefers-reduced-motion) {
    .gradient {
        animation: none;
    }
}

@keyframes gradient-animation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}