.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.container.full-width {
    width: 100%;
}

.container.center-content {
    justify-content: center;
    align-items: center;
}
.container.space-content {
    justify-content: space-around;
    align-items: center;
}
.container.row {
    flex-flow: row nowrap;
}
.container.row-wrap {
    flex-flow: row wrap;
}
.container.grow {
    flex-grow: 1;
}

.container.padding-vertical-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.container.padding-horizontal-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.container.padding-vertical-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.container.padding-horizontal-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.container.padding-vertical-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.container.padding-horizontal-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.container.border-height {
    height: var(--border-size);
}