.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--black-color-1);
}
.container * {
    color: var(--white-color-1);
}

.container.invert-color {
    background: var(--white-color-1);
}
.container.invert-color * {
    color: var(--black-color-1);
}