:root {
    --text-color: #eee;
    --bg-color: #000;
    --outline-color: #2071ce;
}

.invert-colors {
    --text-color: #111;
    --bg-color: #eee;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    flex-shrink: 0;
    font-family: Helvetica, sans-serif;
}

:focus {
    outline: 4px solid var(--outline-color);
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    min-height: 100%;
    overflow-x: hidden;
    background-color: var(--bg-color);
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(../images/space/earthrise-planet.jpg) center/cover no-repeat;
    z-index: -2;
}

.bg-image.absolute {
    position: absolute;
    top: 100vh;
}

.fg-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 200vh;
    background: url(../images/space/earthrise-moon.png) top right no-repeat;
    background-size: auto 100%;
    z-index: -1;
}

@media (max-width: 1400px) {
    .fg-image {
        background-position-x: calc(100% + 100px);
    }
}

@media (max-width: 1000px) {
    .fg-image {
        background-position-x: calc(100% + 200px);
    }
}

@media (max-width: 700px) {
    .fg-image {
        background-position-x: calc(100% + 350px);
    }
}

.top-images-sizing {
    width: 100vw;
    height: 200vh;
}

.behind-moon {
    z-index: -2;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.bg-color {
    background-color: var(--bg-color);
}

.text-color {
    color: var(--text-color);
}

h1 {
    font-size: 1.6rem;
}

p {
    font-size: 1.3rem;
}