:root {
    --text-color: #eee;
    --bg-color: #000;
    --text-color-blue: #60ddff;
    --bg-color-blue: #178ddb;
    --bg-color-semi-transparent: #fff5;
    --bg-color-green: #0a0;
}

.invert-colors {
    --text-color: #111;
    --bg-color: #eee;
    --text-color-blue: #3b7bfb;
    --bg-color-blue: #60ddff;
    --bg-color-semi-transparent: #0003;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    flex-shrink: 0;
    font-family: Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    min-height: 100%;
    overflow-x: hidden;
}

div.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(../images/space/earthrise-planet.jpg) center/cover no-repeat;
    z-index: -2;
}

body.bg-image {
    background: url(../images/space/earthrise-planet.jpg) center/cover no-repeat;
    background-attachment: fixed;
}

.fg-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 200vh;
    background: url(../images/space/earthrise-moon.png) top right no-repeat;
    background-size: auto 100%;
    z-index: -1;
}

.bg-fg-images-size {
    width: 100vw;
    height: 200vh;
}

.behind-moon {
    z-index: -2;
}

@media (max-width: 1400px) {
    .fg-image {
        background-position-x: calc(100% + 100px);
    }
}

@media (max-width: 1000px) {
    .fg-image {
        background-position-x: calc(100% + 200px);
    }
}

@media (max-width: 700px) {
    .fg-image {
        background-position-x: calc(100% + 350px);
    }
}

.hidden {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

.round-border {
    border-radius: 1rem;
    overflow: hidden;
}

.round-border-left {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
}

.round-border-right {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
}

.round-border-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
}

.round-border-bottom {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
}

.bg-color {
    background-color: var(--bg-color);
}

.text-color {
    color: var(--text-color);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2,
.default-btn {
    font-size: 1.6rem;
    font-weight: bold;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
}

p {
    font-size: 1.3rem;
    line-height: 1.7rem;
}

a,
button {
    border: none;
    background: none;
}

span {
    display: flex;
}

.default-btn {
    color: var(--text-color);
    padding: .5rem 2rem;
    transition: background 0.3s;
    cursor: pointer;
}

.default-btn:hover {
    background: var(--bg-color-blue);
}

.default-btn.active {
    color: var(--text-color-blue);
}

.default-btn.active:hover {
    background: var(--bg-color-semi-transparent);
}