:root {
    --color-white: #eee;
    --color-black: #1d1d1d;
    --color-blue-1: #244b66;
    --color-blue-2: #b1d0e0;
    --gradient-color-1: hsl(335, 68%, 46%);
    --gradient-color-2: hsl(236, 84%, 59%);
    --gradient-color-3: hsl(184, 81%, 59%);
    --num-of-gradient-colors: 3;
    --border-size: .2rem;
}

.colors-1 {
    color: var(--color-blue-2);
    background-color: var(--color-blue-1);
}
.colors-2 {
    color: var(--color-blue-2);
    background-color: var(--color-black);
}

@media (prefers-color-scheme: light) {
    .colors-1 {
        color: var(--color-blue-1);
        background-color: var(--color-blue-2);
    }
    .colors-2 {
        color: var(--color-blue-1);
        background-color: var(--color-white);
    }
}

* {
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    min-height: 100%;
}