:root {
    --text-color: #eee;
    --bg-color: #000;
    --text-color-blue: #60ddff;
    --bg-color-blue: #178ddb;
    --bg-color-semi-transparent: #fff5;
    --bg-color-green: #0a0;
}

.invert-colors {
    --text-color: #111;
    --bg-color: #eee;
    --text-color-blue: #3b7bfb;
    --bg-color-blue: #60ddff;
    --bg-color-semi-transparent: #0003;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    flex-shrink: 0;
}

html {
    height: 100%;
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    min-height: 100%;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

.round-border {
    border-radius: 1rem;
    overflow: hidden;
}

.round-border-left {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
}

.round-border-right {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
}

.round-border-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
}

.round-border-bottom {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
}

.bg-color {
    background-color: var(--bg-color);
}

.text-color {
    color: var(--text-color);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2,
.default-btn {
    font-size: 1.6rem;
    font-weight: bold;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
}

p {
    font-size: 1.3rem;
    line-height: 1.7rem;
}

a,
button {
    border: none;
    background: none;
}

span {
    display: flex;
}

.text-icon {
    margin-right: 0.4rem;
}

.default-btn {
    color: var(--text-color);
    padding: .5rem 2rem;
    transition: background 0.3s, color 0.3s;
    cursor: pointer;
}

.default-btn:hover {
    background: var(--bg-color-blue);
}

.default-btn.active {
    color: var(--text-color-blue);
}

.default-btn.active:hover {
    background: var(--bg-color-semi-transparent);
}

.z-1 {
    z-index: 1;
}