.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.row {
    flex-direction: row;
}

.center {
    justify-content: center;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}