.cpp-code-background {
    background: url(../images/backgrounds/cpp-background-dark.jpg) left/cover no-repeat;
    width: 100%;
    height: 100%;
}

@media (prefers-color-scheme: light) {
    .cpp-code-background {
        background-image: url(../images/backgrounds/cpp-background-light.jpg);
    }
}

.app-image {
    width: 1100px;
    min-width: 50vw;
    max-width: 109vw;
    height: auto;
}

.app-image-content {
    position: absolute;
    top: 7.712%;
    left: 4.062%;
    width: 91.875%;
    height: 83.692%;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    overflow: hidden;
}

.project-popup-image {
    width: 48%;
    height: auto;
    margin: 1%;
}

@media (max-width: 600px) {
    .project-popup-image {
        width: 98%;
    }
}