:root {
    --color-white: #eee;
    --color-black: #111;
    --color-gray: #808080;
    --color-blue-1: #09153f;
    --color-blue-2: #c7edff;
    --color-green: #24cf24;
    --color-gradient-1: #ff0000;
    --color-gradient-2: #cc00ff;
    --color-gradient-3: #0066ff;
    --gradient: linear-gradient(to right, var(--color-gradient-1) 0%, var(--color-gradient-2) 16.66%, var(--color-gradient-3) 33.33%, var(--color-gradient-1) 50%, var(--color-gradient-2) 66.66%, var(--color-gradient-3) 83.33%, var(--color-gradient-1) 100%);
    --border-width: 0.25rem;
}

.scheme-default-colors {
    color: var(--color-blue-2);
}

.scheme-default-colors-opaque {
    background-color: var(--color-black);
    color: var(--color-blue-2);
}

.scheme-bg-color {
    background-color: var(--color-blue-1);
}

.scheme-bg-color-grayscale {
    background-color: var(--color-black);
}

.scheme-text-color {
    color: var(--color-blue-2);
}

.semi-transparent-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0008;
}

.static-bg-color-white {
    background-color: var(--color-white);
}

.static-bg-color-black {
    background-color: var(--color-black);
}

.static-bg-color-gray {
    background-color: var(--color-gray);
}

.static-color-white {
    color: var(--color-white);
}

.static-color-black {
    color: var(--color-black);
}

.static-color-blue-1 {
    color: var(--color-blue-1);
}

.static-color-blue-2 {
    color: var(--color-blue-2);
}

:focus {
    outline: .2rem solid var(--color-white);
    outline-offset: .2rem;
}

body {
    background-color: var(--color-black);
}

@media (prefers-color-scheme: light) {

    .scheme-default-colors,
    .scheme-default-colors-opaque {
        background-color: var(--color-white);
        color: var(--color-blue-1);
    }

    .scheme-bg-color {
        background-color: var(--color-blue-2);
    }

    .scheme-bg-color-grayscale {
        background-color: var(--color-white);
    }

    .scheme-text-color {
        color: var(--color-blue-1);
    }

    .semi-transparent-overlay:not(.dark) {
        filter: invert(1);
    }

    :focus {
        outline-color: var(--color-black);
    }

    body {
        background-color: var(--color-white);
    }
}

* {
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}

@media (prefers-reduced-motion) {
    * {
        transition: none !important;
    }
}

html {
    height: 100%;
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
}