:root {
    --color-white: #eee;
    --color-black: #1d1d1d;
    --color-blue-1: #09153f;
    --color-blue-2: #c7edff;
    --color-green: #24cf24;
    --color-gradient-1: #ff0000;
    --color-gradient-2: #cc00ff;
    --color-gradient-3: #0066ff;
    --gradient: linear-gradient(to right, var(--color-gradient-1) 0%, var(--color-gradient-2) 16.66%, var(--color-gradient-3) 33.33%, var(--color-gradient-1) 50%, var(--color-gradient-2) 66.66%, var(--color-gradient-3) 83.33%, var(--color-gradient-1) 100%);
    --border-width: 0.25rem;
}

.static-bg-color {
    background-color: var(--color-blue-1);
}

.scheme-default-colors {
    color: var(--color-blue-2);
}
.scheme-default-colors-opaque {
    background-color: var(--color-black);
    color: var(--color-blue-2);
}
.scheme-bg-color {
    background-color: var(--color-blue-1);
}
.scheme-text-color {
    color: var(--color-blue-2);
}
.semi-transparent-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0008;
}
:focus {
    outline: .2rem solid var(--color-white);
    outline-offset: .2rem;
}

@media (prefers-color-scheme: light) {
    .scheme-default-colors, .scheme-default-colors-opaque {
        background-color: var(--color-white);
        color: var(--color-blue-1);
    }
    .scheme-bg-color {
        background-color: var(--color-blue-2);
    }
    .scheme-text-color {
        color: var(--color-blue-1);
    }
    .semi-transparent-overlay {
        filter: invert(1);
    }
    :focus {
        outline-color: var(--color-black);
    }
}

* {
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}

@media (prefers-reduced-motion) {
    * {
        transition: none !important;
    }
}

html {
    height: 100%;
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    min-height: 100%;
    overflow-x: hidden;
}

.padding-vertical-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.padding-horizontal-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.padding-vertical-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.padding-horizontal-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.padding-vertical-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.padding-horizontal-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.margin-vertical-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.margin-horizontal-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.margin-vertical-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.margin-horizontal-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}
.margin-vertical-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.margin-horizontal-3 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.margin-top {
    margin-top: 1rem;
}
.margin-bottom {
    margin-bottom: 1rem;
}

.margin-left {
    margin-left: 1rem;
}
.margin-right {
    margin-right: 1rem;
}

.padding-top {
    padding-top: .5rem;
}
.padding-bottom {
    padding-bottom: .5rem;
}
.padding-left {
    padding-left: .5rem;
}
.padding-right {
    padding-right: .5rem;
}

.positive-z {
    z-index: 1;
}
.negative-z {
    z-index: -1;
}
.positive-z-2 {
    z-index: 2;
}

.box-shadow-1 {
    box-shadow: .4rem .4rem .6rem 0 var(--color-black);
}
.box-shadow-2 {
    box-shadow: 0 0 .2rem .2rem var(--color-black);
}

.hidden {
    display: none !important;
}
.visibility-hidden {
    visibility: hidden !important;
    opacity: 0 !important;
}