:root {
    --color-white: #eee;
    --color-black: #1d1d1d;
    --color-blue-1: #244b66;
    --color-blue-2: #b1d0e0;
    --color-green: #24cf24;
    --gradient: linear-gradient(to right, #c52668 0%, #42b6eb 16.66%, #7c3fee 33.33%, #c52668 50%, #42b6eb 66.66%, #7c3fee 83.33%, #c52668 100%);
    --border-width: 0.2rem;
}

.colors-1 {
    color: var(--color-blue-2);
    background-color: var(--color-blue-1);
}
.colors-2 {
    color: var(--color-blue-2);
    background-color: var(--color-black);
}

@media (prefers-color-scheme: light) {
    .colors-1 {
        color: var(--color-blue-1);
        background-color: var(--color-blue-2);
    }
    .colors-2 {
        color: var(--color-blue-1);
        background-color: var(--color-white);
    }
}

* {
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    min-height: 100%;
    overflow-x: hidden;
}

.padding-vertical-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.padding-horizontal-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.padding-vertical-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.padding-horizontal-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.padding-vertical-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.padding-horizontal-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.margin-vertical-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.margin-horizontal-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.margin-vertical-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.margin-horizontal-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}
.margin-vertical-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.margin-horizontal-3 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.margin-top {
    margin-top: 1rem;
}
.margin-bottom {
    margin-bottom: 1rem;
}

.margin-left {
    margin-left: 1rem;
}
.margin-right {
    margin-right: 1rem;
}

.padding-top {
    padding-top: .5rem;
}
.padding-bottom {
    padding-bottom: .5rem;
}
.padding-left {
    padding-left: .5rem;
}
.padding-right {
    padding-right: .5rem;
}

.positive-z {
    z-index: 1;
}
.negative-z {
    z-index: -1;
}