.padding-vertical-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.padding-horizontal-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.padding-vertical-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padding-horizontal-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.padding-vertical-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.padding-horizontal-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.margin-vertical-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.margin-horizontal-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.margin-vertical-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.margin-horizontal-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.margin-vertical-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.margin-horizontal-3 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-left {
    margin-left: 1rem;
}

.margin-right {
    margin-right: 1rem;
}

.no-margin-top,
.no-margin {
    margin-top: 0 !important;
}

.no-margin-bottom,
.no-margin {
    margin-bottom: 0 !important;
}

.no-margin-left,
.no-margin {
    margin-left: 0 !important;
}

.no-margin-right,
.no-margin {
    margin-right: 0 !important;
}

.padding-top {
    padding-top: .5rem;
}

.padding-bottom {
    padding-bottom: .5rem;
}

.padding-left {
    padding-left: .5rem;
}

.padding-right {
    padding-right: .5rem;
}

.no-padding-top,
.no-padding {
    padding-top: 0 !important;
}

.no-padding-bottom,
.no-padding {
    padding-bottom: 0 !important;
}

.no-padding-left,
.no-padding {
    padding-left: 0 !important;
}

.no-padding-right,
.no-padding {
    padding-right: 0 !important;
}

.width-100 {
    width: 100%;
}

.width-100vw {
    width: 100vw;
}

.height-100 {
    height: 100%;
}

.height-100-vh {
    height: 100vh;
}