p {
    font-size: 1rem;
    line-height: 1.2;
}
h1 {
    font-size: 3.5rem;
    line-height: 1;
}
h2 {
    font-size: 2.5rem;
    line-height: 1.1;
}
h3 {
    font-size: 2rem;
    line-height: 1.3;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}